[access]
	inheritFrom = ivi-project
[access "refs/*"]
	create = group ivi-visualization
	push = +force group ivi-visualization
	label-Code-Review = -2..+2 group ivi-visualization
	submit = group ivi-visualization
	pushMerge = group ivi-visualization
	pushTag = +force group ivi-visualization
	label-Verified = -1..+1 group ivi-visualization
